body {
    font-family: 'Roboto Slab', serif;
    background-color: rgb(255, 255, 255);
    padding: 20px;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .search{
      margin-left: 45px;
  }
    
  .box {
      width: 90%;
      max-width: 400px;
      margin: 2em;
      margin-top: 50px;
  }
  
  p {
      padding: .1em 0;
      background: #ffffff;
      color: #000000;
      box-shadow: .5em 0 0 #ffffff, -0.5em 0 0 #fffffe;
      font-size: 1.4em;
      line-height: 1.4em;
      letter-spacing: .03em;
  }
  
  .carousel-inner img {
      width: 50%;
   }
  .video{
       width: 100%;
       height: 500px;
   }
  .image{
       margin-top: 30px;
       border-radius: 100%;
       height: 90px;
       width: 90px;
   }
  .image1{
      margin-top: 30px;
      border-radius: 100%;
      height: 90px;
      width: 90px;
  }
  .image2{
      margin-top: 30px;
      border-radius: 100%;
      height: 90px;
      width: 90px;
  }
  .container {
      border: 2px solid #dedede;
      background-color: #f1f1f1;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
    }
    
  .darker {
      border-color: #ccc;
      background-color: #ddd;
    }
    
  .container::after {
      content: "";
      clear: both;
      display: table;
    }
    
  .container img {
      float: left;
      max-width: 60px;
      width: 100%;
      margin-right: 20px;
      border-radius: 50%;
    }
    
  .container img.right {
      float: right;
      margin-left: 20px;
      margin-right:0;
    }
    
  .time-right {
      float: right;
      color: #aaa;
    }
    
  .time-left {
      float: left;
      color: #999;
    }
  .footer {
    text-decoration: none;
    color: white;
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(56, 56, 56);
    text-align: center;
  }
  .footer>a{
    color: #ffffff;
  }